<mat-card>
  <div  fxLayout="row">
      <mat-card-header>
          <img  mat-card-image  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" class="alinhamento">         
      </mat-card-header>      
      <mat-card-header>
        <mat-card-title>Nome: {{p.nome}}</mat-card-title>
        <mat-card-subtitle>Matricula: {{p.matricula}}</mat-card-subtitle>
        <mat-card-subtitle>Email: {{p.email}}</mat-card-subtitle>
      </mat-card-header>
  </div>
</mat-card>

<mat-card class="example-card">
    <mat-card-header fxLayoutAlign="end start">      
    <img  mat-card-image  src="http://www.unicap.br/teologia/wp-content/uploads/2016/03/0.png" class="alinhamento">
    </mat-card-header>
    <b fxLayoutAlign="end start" >UNICAP 2020</b>    
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <b>DISCIPLINAS:</b>
  </mat-card-header>
</mat-card >

<div class="example-container mat-elevation-z8">  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element">{{element.codigo}}   </td>
      </ng-container>
    
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element">{{element.descricao}}</td>
      </ng-container>
    
      <ng-container matColumnDef="qtdCreditos">
        <th mat-header-cell *matHeaderCellDef> Quantidade de Creditos </th>
        <td mat-cell *matCellDef="let element">{{element.qtdCreditos}}</td>
      </ng-container>   
      
      <tr mat-header-row *matHeaderRowDef="displayedColumnsDisciplina"></tr>
      <tr mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumnsDisciplina;"> </tr>
  </table>  
</div>