.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}
.content {
    padding: 5px;
}

.example-container {
    height: 250px;
    overflow: auto;
}
  
table {
    width: 100%;
}

.example-card {
    max-width: 100%;
    
} 

.alinhamento{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    align-content: flex-start;
}
