<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Centro de Ciência e Tecnologia</mat-card-title>
    <mat-card-subtitle>Curso Ciência da Computação</mat-card-subtitle>
  </mat-card-header>

  <mat-card-header fxLayoutAlign="end start">    
    <img  mat-card-image  src="http://www.unicap.br/teologia/wp-content/uploads/2016/03/0.png" class="alinhamento">
  </mat-card-header>

</mat-card>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef> Matricula </th>
      <td mat-cell *matCellDef="let element">{{element.matricula}}   </td>
    </ng-container>
  
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element">{{element.nome}}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>  
    
    <tr mat-header-row *matHeaderRowDef="displayedColumnsDisciplina"></tr>
    <tr mat-row (click)="getRecord(row)" *matRowDef="let row; columns: displayedColumnsDisciplina;"> </tr>
  </table>
</div>


