.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}
.content {
    padding: 5px;
}

.example-container {
    height: 300px;
    overflow: auto;
}
  
table {
    width: 100%;
}

.example-card {
    max-width: 100%;
    
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-header-image2 {
    background-image: url('http://www.unicap.br/teologia/wp-content/uploads/2016/03/0.png');
    background-size: cover;

}

.alinhamento{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    
   align-content: flex-end;
}
